table {
    border-collapse: collapse;
  }
  
  table,
  td {
    border: 1px solid black;
  }
  
  ::ng-deep .pen-red {
    background-color: white;
    color: red;
  }
  
  ::ng-deep .pen-green {
    background-color: white;
    color: green;
  }

  ::ng-deep .marker-green {
    background-color: white;
    color: green;
  }

  ::ng-deep .marker-yellow {
    background-color: white;
    color: yellow;
  }

  ::ng-deep .marker-pink {
    background-color: white;
    color: pink;
  }

  ::ng-deep .marker-blue {
    background-color: white;
    color: blue;
  }

  ::ng-deep .snippet-content p {
    margin: 5px;
  }


  ::ng-deep .snippet-content .fileLink {
    background-color: #113657;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 3px;
    padding: 4px;
    margin: 1px;
    text-decoration: none;  
}
::ng-deep .snippet-content .fileLink ::before {
	font-family: "Material Design Icons";
	content: "\F13CD" /* this is the icon code which can be gotten from the MDI cheatsheet here: https://pictogrammers.github.io/@mdi/font/5.4.55/ */
}
  
  ::ng-deep .table table {
    border-collapse: collapse;
    border-spacing: 0;
    /* width: inherit; */
    /* height: 100%; */
    align-items: center;
    text-align: center;
    border: 1px double hsl(0, 0%, 75%);
  }
  
  ::ng-deep .table table tbody td,
  ::ng-deep .table table tbody th {
    min-width: 2em;
    padding: .4em;
    border: 2px solid hsl(0, 0%, 75%);
  }
  /* ckeditor5-table/theme/table.css */
  .table table tbody th {
    font-weight: bold;
    background: hsla(0, 0%, 0%, 5%);
  }
  ::ng-deep figcaption {
    text-align: center;
    align-items: center;
  }
  
  ::ng-deep figure{
    text-align: center;
    align-items: center;
    transition: 2s;
  }
  
  ::ng-deep img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    transition: 2s;
  }