certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
python-dotenv==0.20.0
requests==2.28.1
scilog @ git+https://github.com/paulscherrerinstitute/scilog.git@c04d241a3edbb1e3fef9646f49f83546297ad690#subdirectory=sdk/python
urllib3==1.26.11
