certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
python-dotenv==0.20.0
requests==2.28.1
scilog @ git+https://github.com/paulscherrerinstitute/scilog.git@5be4415db09f6d97965e6fa39e8ad1044fd73eaa#subdirectory=sdk/python
urllib3==1.26.11
