@import '../../../../styles/slide-toggle';

@include slide-toggle;

.header {
    display: flex;
  }
  .flexExpand {
    flex: 1 1 auto;
    /* padding:50px; */
}
.headerTitle{
  color: var(--header-color);
  // mat-color($scilog-colors,500);
  /* padding: 5px; */
  opacity: 0.9;
  font-weight: bold;
}

.preferences-container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(80vh);
    height: 50vh;
    width: 50vw;
}

.preferences-container .mat-mdc-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .preferences-container .mat-mdc-form-field {
    width: 30%;
  }
  
  .advancedSlider{
    display: flex;
    align-items: center;
    justify-content: right;
}

.subHeader {
    color: var(--subheader-color);
    margin-bottom: 10px;
    margin-top: 10px;
} 
.subSubHeader {
  color: var(--subsubheader-color);
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
} 
.filterOperator {
        width: auto !important;
}

.filterOperator .mat-mdc-form-field {
    width: auto !important;
    margin-left: 8px;
}


.filterOperator .mat-mdc-select {
        max-width: 100%;
        width: auto;
        display: flex;
    }  

.chipList{
  width:90% !important;
 }

