.searchResults {
  height: calc(50vh - 95px);
  overflow: scroll;
}

.searchResults .header {
  font-size: 20px;
  color: var(--header-color);
  padding-bottom: 20px;
  padding-top: 10px;
  padding: 15px;
}

.searchContainer {
  font-size: initial;
  overflow: scroll;
  height: calc(50vh - 140px);
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
