@mixin checkbox {
    // ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    //   background-color: var(--slider-checked); __<<ngThemingMigrationEscapedComment0>>__
    // }
    // ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    //     background-color: var(--slider-not-checked-bg);
    // }
    // ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    //   background-color: var(--slider-checked-bg);  __<<ngThemingMigrationEscapedComment1>>__
    // }
    // ::ng-deep .mat-slide-toggle-thumb {
    //     background-color: var(--slider-not-checked);
    // }
    // ::ng-deep .mat-slide-toggle-bar {
    //     background-color: var(--slider-not-checked-bg);
    // }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: var(--button-accent);
        background: var(-button-accent);

    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-ripple-element {
        background-color: var(--button-accent);
        background: var(-button-accent);
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        background-color: var(--button-accent);
        background: var(-button-accent);

      }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: var(--button-accent);
        background: var(-button-accent);

      }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
        background: var(--button-accent)!important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
        background: var(--button-accent)!important;
    }
    }
