.logbook-module {
  width: 300px;
  height: 400px;
}

.logbook-module .mat-mdc-card-content {
    padding: 15px;
    height: 170px;
    overflow-y: scroll;
    scrollbar-width: none;
}

:host ::ng-deep .mat-mdc-card-header-text {
  flex: 1;
  width: 100%;
}

.logbook-module .mat-mdc-card-header .mat-mdc-card-title {
  width: 95%;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logbook-module .image-container {
  text-align: center;
}

.logbook-module .mat-fab-top-right {
  position: absolute;
  top: 5px;
  right: 1px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.logbook-module .mat-mdc-card-actions {
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.logbook-module mat-divider {
  position: absolute;
  bottom: 50px;
  width: 100%;;
}

.logbook-module img {
  max-width: 250px;
  height: 80px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}
