* {
    max-width: 100%;
}

snippet>* {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    border-radius: 2px;
    padding: 10px 0px 25px 0px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: rgb(255, 255, 255) !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

messagesReply {
    background-color: rgb(238, 238, 238) !important;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 1px;
    min-height: 100%;
    text-align: left;
    border-radius: 10px;
    padding: 20px 0px;
}

snippetComment>* {
    margin-left: 60px;
    max-width: 80%;
    min-width: fit-content;
    text-align: left;
    border-radius: 2px;
    padding: 10px 0px;
    background-color: rgb(247, 242, 197) !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0px 25px 0px;
}

snippetQuote>* {
    margin-bottom: 1px;
    max-width: 80%;
    margin-left: 20px;
    text-align: left;
    border-radius: 2px;
    margin-top: 15px;
    padding: 5px 0px;
    opacity: 0.9;
    border-left: 4px solid #86a7b1;
    border-right: 4px solid #86a7b1;
    background-color: #ebebeb !important;
}

imageSnippet {
    background-size: cover;
    max-width: 90%;
    display: block;
    background-color: inherit;
}

snippet-tag {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
    max-width: 80%;
    border-radius: 5px;
    padding: 2px;
    float: right;
    margin: 1px;
    mix-blend-mode: luminosity;
}

card-header {
    position: absolute;
    display: inline;
    top: 4px;
    left: 3px;
    width: 100%;
}

message-timestamp {
    width: 100%;
    font-size-adjust: 0.4;
    text-align: center;
    opacity: 1;
    align-items: center;
}

snippet-header {
    width: 100%;
    font-size-adjust: 0.4;
    opacity: 0.6;
    left: 10px;
    top: 2px;
}

h1 {
    position: top;
    text-align: center;
}

@page landscape {
    size: A4 landscape;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 0;
    margin-bottom: 0;
}

table,
th,
td {
    table-layout: fixed;
    font-size: 10px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    page: landscape;
}

img {
    max-height: 297mm;
}
