<div *ngIf="scicatUser; else unauthenticated">
  <p>Hello, {{ scicatUser.username }}!</p>
</div>
<ng-template #unauthenticated>
  <p>Not authenticated with SciCat, showing only public datasets:</p>
</ng-template>
<div>
  <mat-form-field
    ><mat-label for="dataset-select">Select Dataset:</mat-label>
    <mat-select
      id="dataset-select"
      (selectionChange)="onDatasetSelect($event)"
      [value]="selectedDataset?.pid"
    >
      @for (dataset of datasetSummary; track dataset.pid) {
        <mat-option [value]="dataset.pid">{{ dataset.datasetName }}</mat-option>
      }
    </mat-select></mat-form-field
  >
</div>

<div *ngIf="selectedDataset">
  @if (isProposalLinkedDataset(selectedDataset.pid)) {
    <p>
      This dataset is linked to proposal
      <a [href]="scicatProposalUrl" target="_blank">{{ selectedDataset.proposalId }}</a>
    </p>
  }

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ selectedDataset.datasetName }}</mat-card-title>
      <mat-card-subtitle>{{ selectedDataset.pid }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content id="dataset-details">
      <p>{{ selectedDataset.description }}</p>
      <table>
        <tr>
          <th>Creation time</th>
          <td>
            {{ selectedDataset.creationTime | date: 'dd.MM.yyyy HH:mm' }}
          </td>
        </tr>
        <tr>
          <th>Creation location</th>
          <td>{{ selectedDataset.creationLocation }}</td>
        </tr>
        <tr>
          <th>Owner</th>
          <td>{{ selectedDataset.owner }}</td>
        </tr>
        <tr>
          <th>Principal investigators</th>
          <td>{{ selectedDataset.principalInvestigator }}</td>
        </tr>
        <tr>
          <th>Size</th>
          <td>{{ selectedDataset.size }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [href]="scicatDatasetUrl" target="_blank"
        >Open in SciCat <mat-icon>open_in_new</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="datasetFetching">
  <mat-spinner></mat-spinner>
</div>
