table {
  width: 100%;
  table-layout: fixed;
}

.logbooks:hover {
  background-color: var(--main-background)!important;
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  -ms-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
}

.logbooks {
  height: 50px;
}

.scrollable-text {
  white-space: nowrap;
  overflow: scroll;
  margin-right: 10px;
  scrollbar-width: none;
}

.logbooks img {
  max-height: 45px;
  height: 100%;
  margin-top: 2px;
  object-fit: contain;
}

.mat-fab-top-right {
  text-align: right;
  width: 2px;
  padding-right: 40px!important;
  overflow: hidden!important;
}

.scrollable-container {
  max-height: calc(100vh - 250px);
  width: 100%;
  overflow: auto;
}
