name: Python black

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: directory to check for proper black formatting

jobs:
  test:
    name: Test and build image on PR
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Lint with black
        run: |
          black --check --diff --no-color --line-length=100 .
