name: Test python

on:
  pull_request:
    branches: [main]
    paths:
      - sdk/python/**
      - .github/workflows/test.sdk-python.yaml
  push:
    branches: [main]
    paths:
      - sdk/python/**
      - .github/workflows/test.sdk-python.yaml
  release:
    types: [published]
    paths:
      - sdk/python/**
      - .github/workflows/test.sdk-python.yaml

jobs:
  test:
    name: Test and build image on PR
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sdk/python
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Lint with black
        run: |
          black --check --diff --color .

      - name: Isort check
        run: |
          isort --check --diff .

      - name: Test with pytest
        run: |
          pytest
